.Zebra_ClearInput_Container {
}
.Zebra_ClearInput {
    position: absolute;
    border: 1px solid transparent;
    padding: 0 7px;
    font-size: 16px;
    color: #666 !important;
    font-family: Arial;
    font-weight: bold;
    line-height: 21px;
    text-decoration: none !important;
    &:hover,
    &:focus {
        border-color: #dedede;
        box-shadow: 0 0 5px #dedede;
        background: #F0f0f0;
        color: #000 !important;
        outline: 0 !important;
    }
}